body{
    margin: 0;
    background: white;
    font-family: 'Alata', sans-serif;
}
.header{
    background-color: gray;
    color: white;
}
.header a{
    color: white;
    text-decoration: none;
}
.header__logo{
    margin: 0;
}.header__menu ol{
    margin: 0;
}
.hero{
    color: white;
    height: 300px;
    background-color: gray;
    background-image: url("https://i.imgur.com/kHB38sc.jpg");
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
} 
h1{
    margin: 0;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
}
h1 strong{
    color: lightblue;
}
.portfolio{
    background-color: #fafafa;
}
.portfolio__project{
    border: solid black 2px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background: white;
    display: flex;
    
}
.portafolio__project--container{
    width: 500px;
}
.portfolio__project--containerImg{
    width: 500px;
}