html {
    font-size: 62.5%;
}
body {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header {
    width: 100%;
    height: auto;
}
header .nav {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
}
.nav--list {
    width: 250px;
    display: inherit;
    justify-content: space-around;
    list-style: none;
    height: auto;
    margin-right: 20px;
    align-items: center;
}
.nav--list__item a{
    color: #000000
}
.icon-menu {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
.nav--list__item img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
main {
    margin-top: 150px;
    text-align: center;
}
.main--logo {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 35px;

}
.main--logo img {
    width: 272px;
}
.main--input__container {
    width: 90%;
    margin: 0 auto;
    border-radius: 100px;
    border: #dfe1e5 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.main--input__container input {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;

}
.main--input__container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border #dfe1e500; 
}
.serch-icon {
    width: 20px;
    height: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 10px;
}
.micro--icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/22/Google_microphone_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.main--buttons{
    width: 100vw;
    margin: 0 auto;
}
.main--buttons div {
    display: inline-block;
}
.main--buttons button {
    height: 34px;
    background-color: #f2f2f2;
    border: none;
    padding: 0 13px;
    margin: 0 5px;
    border-radius: 3px;
    color: #5f6368;
}
.main--buttons button:hover {
    border: #c6c6c6 1px solid;
    color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer ul {
    margin: 10px;
    list-style: none;
    /* display: flex; */
    padding-left: 0;
}
footer .footer--left {
    justify-self: left;
}
footer .footer--right {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: #5f6368;
}







@media (min-width: 600px){
    .main--logo {
        width: 530px;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    .main--logo img {
        width: 272px;
    }
    .main--input {
        width: 700px;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    .main--input__container {
        width: 600px;
        border-radius: 100px;
        border: #dfe1e5 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main--input__container input {
        width: 80;
        height: 40px;
        border: none;
        outline: none;
    }
    .main--buttons{
        width: 530px;
        margin: 0 auto;
    }
    .main--buttons button {
        height: 34px;
        background-color: #f2f2f2;
        border: none;
        padding: 0 15px;
        margin: 0 5px;
        border-radius: 3px;
        color: #5f6368;
    }
    footer {
        height: 50px;
    }
    footer ul {
        display: flex;
    }

}